body {
    background-color: pink;
}

#heart {
    font-size: 50px;
    margin-top: 15%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#githublogo {
    position: absolute;
    left: 1%;
    bottom: 1%;
}

#text {
    font-size: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
}

#submit,
#generatenew,
#resources {
    margin: 5px;
    display: inline;
    width: 10em;
    height: 3em;
    background-color: pink;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 2px black;
    cursor: pointer;
}

.linkedbuttons {
    text-decoration: none;
}

#generatenew:active {
    box-shadow: 0px 0px black;
}

#resourcebuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#suicidehelpline,
#samhsa,
#adaa {
    margin: 5px;
    display: block;
    width: 10em;
    height: 3em;
    background-color: pink;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 2px black;
    text-decoration: none;
    cursor: pointer;
}