body {
    background-color: pink;
}

#heart {
    font-size: 50px;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text {
    font-size: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}